{% extends 'base.html.twig' %}

{% block title %}Gérer les campus | {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center">Gérer les campus</h1>

    <!-- Formulaire pour filtrer -->
    {{ form_start(filterForm) }}
    <div class="mx-3">
        <h2 class="col">Filtrer les sites</h2>
        <div class="d-flex gap-2 col-3">
            {{ form_widget(filterForm.search) }}
            <button type="submit" class="btn btn-primary btn-sm">Rechercher</button>
        </div>
    </div>
    {{ form_end(filterForm) }}
    <!-- Tableau avec les campus -->
    <div class="row col-6 table-container">
        <table class="table text-center align-middle container">
            <tr class="justify-content-center">
                <th class="" scope="col">Campus</th>
                <th class="" scope="col">Actions</th>
            </tr>
            <!-- Une ligne par campus -->
            {% for campus in campusLst %}
                <tr>
                    <td>{{ campus.name|upper }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                           href="{{ path('campus_edit', {id: campus.id}) }}">Modifier</a>
                        <a class="btn btn-danger btn-sm"
                           href="{{ path('campus_delete',
                               {id: campus.id, token: csrf_token('delete'~campus.id)}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <!-- Dernière ligne : Formulaire d'ajout -->
            {{ form_start(formCampus) }}
            <tr>
                <td>{{ form_widget(formCampus) }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" type="submit">Ajouter</button>
                </td>
            </tr>
            {{ form_end(formCampus) }}
        </table>
    </div>
{% endblock %}