{% extends 'base.html.twig' %}

{% block header %}
    <div class="container-fluid d-flex justify-content-center py-4">
        <img src="{{ asset('img/logo.png') }}" alt="Sortir.com logo" class="object-fit-contain" width="170">
    </div>
{% endblock %}

   {% block title %}Réinitialisez votre mot de passe{% endblock %}

     {% block body %}
       <div class="container d-flex justify-content-center">
         <div class="align-items-center col-12 col-md-6 col-lg-4 card">

           {% for flash_error in app.flashes('reset_password_error') %}
              <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
           {% endfor %}

              <h4 class="text-center mt-1"><small>Mot de passe oublié ?</small></h4>
                <div class="text-center mt-5 ">
                   <p><small>Veuillez saisir votre adresse e-mail</small></p>
                </div>

                  {{ form_start(requestForm) }}
                    <div class="d-flex justify-content-center mb-4">
                      <div class="col-sm-12">
                        {{ form_widget(requestForm.email, {'attr': {'class': 'form-control' }}) }}
                        {{ form_errors(requestForm.email) }}
                     </div>
                    </div>
                    <div class="d-flex col justify-content-center">
                      <button class="btn btn-primary">Réinitialiser mon mot de passe</button>
                    </div>
                     <div class=" d-flex col justify-content-center mt-4">
                       <div>
                         <small>Retour à la page de<a class="ms-2 " href="{{ path('main_home') }}">Connexion</a></small>
                       </div>
                     </div>
                  {{ form_end(requestForm) }}
         </div>
   {% endblock %}