{% if app.user %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex flex-wrap justify-content-between">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="{{ asset('img/logo.png') }}" alt="Sortir.com logo" class="object-fit-cover" width="75" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ville_show') }}">Ville</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('campus_show') }}">Campus</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <!-- TODO: remplacer id: 1 par app.user.id quand l'authentification sera dispo !! -->
                    <a class="nav-link" href="{{ path('user_edit', {id: 1}) }}">Mon profil</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex gap-3 pe-5 ms-auto">
        <span class="text-muted">Date du jour : {{ "now"|date('d/m/Y') }}</span>
        <span class="text-muted">Participant : {{ app.user ? app.user.firstname ~ ' ' ~ app.user.lastname : 'Invité' }}</span>
    </div>
</nav>
{% endif %}